@using PagedList.Mvc
@model PagedList.PagedList<Rb.Web.Models.BookModel>

<div class="row">
    <div class="col-md-12">
        @foreach (var book in Model)
        {
            @Html.Partial("BookPartial", book)
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount books.
    </div>
</div>